.header {
	@include container();

	padding: $line-height;

	@include breakpoint(large) {
		padding: 2 * $line-height 0 $line-height 0;
	}

	.logo {
		height: 3 * $line-height;
		line-height: 3 * $line-height;
		margin: 0;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;

		@include breakpoint(medium) {
			text-align: initial;
			width: auto;
		}

		a {
			display: inline-block;
			height: 2 * $line-height;
			vertical-align: middle;

			@include breakpoint(medium) {
				height: 2.5 * $line-height;
			}
		}

		img {
			display: block;
			height: 1.5 * $line-height;
			margin: auto;

			@include breakpoint(medium) {
				height: 2.5 * $line-height;
			}
		}

		span {
			left: -99999px;
			position: absolute;
			top: 0;
		}
	}

	.navigation {
		text-align: center;
		width: 100%;

		@include breakpoint(medium) {
			line-height: 3 * $line-height;
			text-align: initial;
			width: auto;
		}

		a {
			display: inline-block;
			font-weight: 700;
			margin-left: 0.5 * $line-height;
			text-decoration: none;
			text-transform: uppercase;

			@include breakpoint(medium) {
				margin-left: $line-height;
			}

			@include breakpoint(medium) {
				margin-left: 2 * $line-height;
			}

			&:first-of-type {
				margin-left: 0;
			}

			&.router-link-active, &:hover {
				color: $color-text;
			}
		}
	}
}
