.hero {
	align-content: center;
	background-position: center center;
	background-size: cover;
	height: 10 * $line-height;
	margin-bottom: 3 * $line-height;
	padding: 0 $line-height;
	width: 100%;

	@include breakpoint(medium) {
		height: 20 * $line-height;
	}

	@include breakpoint(large) {
		padding: 0;
	}

	.container {
		@include container();

		height: 10 * $line-height;
		position: relative;

		@include breakpoint(medium) {
			height: 20 * $line-height;
		}

		.hero-text {
			color: $color-background;
			font-family: $font-secondary;
			font-size: 2.5 * $font-size;
			line-height: 2 * $line-height;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			@include breakpoint(medium) {
				font-size: 4.5 * $font-size;
				line-height: 4 * $line-height;
			}

			@include breakpoint(large) {
				padding: 0;
			}

			p {
				margin: 0;
			}

			br {
				display: none;

				@include breakpoint(medium) {
					display: block;
				}
			}
		}
	}
}
