.home-page-content-section {
	padding-bottom: 4 * $line-height;
	position: relative;

	@include breakpoint(medium) {
		@include cols(1, 3);
	}

	.img {
		> div {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	h3 {
		margin-top: 2 * $line-height;
		text-align: center;
	}

	.text {
		position: relative;
	}

	.call-to-action {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;

		a {
			border: solid 1px $color-secondary;
			display: block;
			font-weight: 700;
			height: 3 * $line-height;
			padding: $line-height;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				border-color: $color-text;
				color: $color-text;
			}
		}
	}

	&:nth-of-type(1), &:nth-last-of-type(2) {
		.text {
			&:after {
				border-left: solid 1px $color-text;
				bottom: 0;
				content: "";
				position: absolute;
				right: -2 * $line-height;
				top: 0;
				width: 0;
			}
		}
	}
}
