.table-container {
	height: auto;
	max-width: 100%;
	overflow-x: auto;
	width: 100%;
}

table {
	border: none;
	border-collapse: collapse;
	min-width: 100%;

	thead {
		tr {
			th {
				border-bottom: solid 2px $color-secondary;
				font-size: 1.25 * $font-size;
				font-weight: 700;
				line-height: 2 * $line-height;
				padding: 0 $line-height;
				text-align: left;
				text-transform: uppercase;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom: solid 1px $color-secondary;
				line-height: 2 * $line-height;
				padding: 0 $line-height;
				white-space: nowrap;
			}
		}
	}
}
