// Quicksand
@include font-face("Quicksand", "QuicksandBook-Regular", normal, 400);
@include font-face("Quicksand", "QuicksandBold-Regular", normal, 700);

// Nanum Gothic
@include font-face("Nanum Gothic", "NanumGothic", normal, 400);
@include font-face("Nanum Gothic", "NanumGothicBold", normal, 700);

html {
	font-family: $font-primary;
}

h1, h2, h3, h4, p, ul, ol, dd {
	display: block;
	margin: 0 0 $line-height 0;
}

dd {
	margin-bottom: 2 * $line-height;
}

h3, dt {
	color: $color-primary;
	display: block;
	font-size: 1.25 * $font-size;
	font-weight: 700;
	line-height: $line-height;
	margin-bottom: $line-height;
	text-transform: uppercase;
}

p {
	&:last-of-type {
		margin-bottom: 0;
	}
}
