/* Webfont: QuicksandBoldOblique-Regular */@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('QuicksandBoldOblique-Regular.eot'); /* IE9 Compat Modes */
    src: url('QuicksandBoldOblique-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('QuicksandBoldOblique-Regular.woff') format('woff'), /* Modern Browsers */
         url('QuicksandBoldOblique-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('QuicksandBoldOblique-Regular.svg#QuicksandBoldOblique-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

